
#glitchButton {
  position: fixed;
  bottom: 90px;
  right: 10px;
}
#glitchButton.glitchButton .glitchOpenWindowElement {
  top: auto;
  bottom: 100%;
}
#glitchButton.glitchButton .glitchButtonElement {
  background: transparent url(https://glitch.com/edit/images/background-light/icons/up-arrow.svg) no-repeat right center
}
#glitchButton.glitchButton .tooltip.border {
  top: auto;
  bottom: -11px;
  border-bottom: none;
  border-top: 10px solid #000;
}
#glitchButton.glitchButton .tooltip.fill {
  top: auto;
  bottom: -9px;
  border-bottom: none;
  border-top: 10px solid #fff;
}
.githubButton {
  position: fixed;
  bottom: 50px;
  right: 12px;
}